:root {
    --size: 100px;
}

div {
  width: var(--size);
  height: var(--size);
  font-weight: 600;
  color: whitesmoke;
  background-color: brown;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border: 2px solid black;
  position: relative;
  z-index: 2
}

div:first-child {
    z-index: 3;
}

div:nth-child(2) {
    left: 100px;
    top: -100px;
    background-color: purple;
    z-index: 5;
}

div:nth-child(3) {
    left: 80px;
    top: calc(20vh + var(--size));
    background-color: blue;
}